.debug { font-family:Arial; font-size:14px; color:#cc0000; flash-glow:[1.5,100,ffffff]; flash-bitmap:true; }

.inputChar { font-family:Arial; font-size:20px; color:#666666; text-align:center; flash-bitmap:true; }

.input { font-family:HelveticaNeueMd; font-size:20px; color:#666666; text-align:center; }
.inputDefault { font-family:HelveticaNeueMd; font-size:20px; color:#BBBBBB; text-align:left; }

.tooltip { font-family:HelveticaNeueCn; font-size:16px; color:#666666; }

.button { font-family:HelveticaNeueBlk; font-size:18px; color:#00CCCC; flash-alpha:1; }
.button_disabled { font-family:HelveticaNeueBlk; font-size:18px; color:#00CCCC; flash-alpha:.4; }

.comboboxItem { font-family:HelveticaNeueMd; font-size:18px; color:#649EAC; }
.comboboxItem_selected { font-family:HelveticaNeueMd; font-size:18px; color:#00CCCC; }

.checkbox { font-family:HelveticaNeue; font-size:16px; color:#666666; }
.checkbox_selected { font-family:HelveticaNeue; font-size:16px; color:#666666; }

.code { font-family:Courier; font-size:14px; color:#000000; }